---
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import Image from "@components/building-blocks/core-elements/image/Image.astro";
import Text from "@components/building-blocks/core-elements/text/Text.astro";
import BentoBoxGridItem from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGridItem.astro";
import Split from "@components/building-blocks/wrappers/split/Split.astro";

const { post, border } = Astro.props;
---

<BentoBoxGridItem
  columnSpan={6}
  rowSpan={1}
  border={border}
  >
  <Split
    verticalAlignment="center"
    distributionMode="third-two-thirds"
  >
    <Fragment slot="first">
      <Image source={post.data.image} aspectRatio="square" />
    </Fragment>
    <Fragment slot="second">
      <Heading level="h3" size="xs">
          {post.data.title}
      </Heading>
      <Text>
          <p>{post.data.description}</p>
      </Text>
    </Fragment>
  </Split>
</BentoBoxGridItem>

<style is:global>
  .bento-box-grid-item-content{
    &.with-border{
      border: 1px solid var(--color-border-subtle);
    }
  }
</style>