---
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import Icon from "@components/building-blocks/core-elements/icon/Icon.astro";
import Image from "@components/building-blocks/core-elements/image/Image.astro";
import SimpleText from "@components/building-blocks/core-elements/simple-text/SimpleText.astro";
import BentoBoxGridItem from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGridItem.astro";
import Card from "@components/building-blocks/wrappers/card/Card.astro";

const { id } = Astro.props;
---

<div id={id} style="display:none">
    <BentoBoxGridItem
        columnSpan={6}
        rowSpan={1}
    >
        <Card
            paddingHorizontal="md"
            paddingVertical="md"
            style="
                margin-top:0;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
                border-radius:8px;
                overflow:hidden;
                height:100%
            "
        >
            <Fragment slot="before">
                <Image 
                    aspectRatio="widescreen"
                    source="[[PAGEFIND-IMAGE]]" 
                />
            </Fragment>
            <div class="topic-pill">[[PAGEFIND-TOPIC]]</div>
            <Heading
                level="h3"
                size="sm"
                style="margin:0"
            >[[PAGEFIND-TITLE]]</Heading>
            <SimpleText
                style="
                margin-top:0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2;
                "
            >[[PAGEFIND-EXCERPT]]</SimpleText>
            <div class="feature-date-container">
                <SimpleText
                    alignX="start"
                    size="xs"
                    class="feature-date"
                    editable={false}
                >[[PAGEFIND-DATE]]</SimpleText>
                <div class="divider">•</div>
                <Icon name="clock" size="none" />
                [[PAGEFIND-READINGTIME]]
            </div>
        </Card>
    </BentoBoxGridItem>
</div>

<style>
    :global(.card-content){
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
</style>