---
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import PaginationReactive from "@components/building-blocks/core-elements/pagination/PaginationReactive.astro";
import SimpleText from "@components/building-blocks/core-elements/simple-text/SimpleText.astro";
import SelectOption from "@components/building-blocks/forms/select/SelectOption.astro";
import BentoBoxGrid from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGrid.astro";
import Split from "@components/building-blocks/wrappers/split/Split.astro";
import Select from "./select/Select.astro";
import Loading from "./Loading.astro";

const { 
    id = "results",
    heading = "Search Results",
    showResultsCount = true,
    hasPagination = true
} = Astro.props;
---
<Split
    distributionMode="full-auto"
    verticalAlignment = "top"
    style="margin-top:0!important"
>
    <Fragment slot="first">
    { heading && <Heading
            size="sm"
            style="margin:0"
        >
            {heading}
        </Heading>
    }
    { showResultsCount && <SimpleText
            size="sm"
            style="color:var(--color-text-muted)"
            id="results-info"
            style="display:none"
        >
            <span class="search-count"></span> results for <span class="search-term"></span>
        </SimpleText>
    }
    </Fragment>
    <Fragment slot="second">
        <Select
            id="pagefind-sorting"
            iconName="chevron-down"
            iconPosition="after"
        >
            <SelectOption label="Sort: Most Recent" value="most-recent" />
            <SelectOption label="Sort: Oldest First" value="oldest-first" />
        </Select>
    </Fragment>
</Split>
<Loading id="search-loading" />
<BentoBoxGrid
    id={id}
    gap="lg"
></BentoBoxGrid>
{ 
    hasPagination && <PaginationReactive id="pagefind-pagination" />
}

<script>
    import Alpine from "alpinejs";
    document.addEventListener('alpine:init', () => {
        const searchInfo = document.getElementById("results-info") as HTMLElement;
        const searchCount = searchInfo?.querySelector(".search-count") as HTMLElement;
        const searchTerm = searchInfo?.querySelector(".search-term") as HTMLElement;
        const searchLoading = document.getElementById("search-loading") as HTMLElement;
        const pagination = document.getElementById("pagefind-pagination") as HTMLElement;

        let instance;
        if(!window.instance)
        {
            instance = new PagefindModularUI.Instance();
            window.instance = instance;
        }
        else instance = window.instance;

        instance.on("search", () => {
            if(pagination)
                pagination.style.display = "none";

            if(searchLoading)
                searchLoading.style.display = "flex";
        })

        const sortingSelect = document.querySelector("#pagefind-sorting select") as HTMLInputElement;
        sortingSelect.addEventListener("change", e =>{
            Alpine.store("search").sort = e.target.value;
            instance.triggerSearch(instance.searchTerm);
        })

        const sort = Alpine.store("search")?.sort ? Alpine.store("search").sort : sortingSelect?.value;
        Alpine.store("search").sort = sort;

        document.addEventListener("results-loaded", e => {
            if(searchLoading)
                searchLoading.style.display = "none";
            
            if(searchInfo)
                searchInfo.style.display = "flex";

            if(searchCount)
                searchCount.innerText = instance.searchResult.results.length;
            
            if(searchTerm)
                searchTerm.innerText = `"${instance.searchTerm}"`;

            if(pagination)
                pagination.style.display = "flex";
        });
    });
</script>