---
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import List from "@components/building-blocks/core-elements/list/List.astro";
import ListItem from "@components/building-blocks/core-elements/list/ListItem.astro";
import topics from "@data/topics.json";
import { getCollection } from "astro:content";

const { topic:blogTopic } = Astro.props;
---

<div class="blog-card">
  <Heading
    text="Explore Other Topics"
    level="h3"
    size="sm"
  />

  <List>
    {
      topics.map(async (topic) => {
        const posts = await getCollection("blog", ({ data }) => {
          return data.topic === topic.name;
        });
        return (
          <ListItem 
            link={`/insights/${topic.name}`}
            class:list={[blogTopic === topic.name ? "active" : ""]}
          >
            {topic.name}
            <span class="count">{posts.length}</span>
          </ListItem>
        );
      })
    }
  </List>
</div>

<style>
  .blog-card {
    :global(.heading) {
      margin: 0;
      :global(.heading-text) {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .item {
      background: white;
      border: 1px solid var(--color-border-subtle);
      border-radius: var(--radius-xs);
      font-size: var(--font-size-sm);
      padding: 14.5px 12px;

      &.active {
        background: var(--color-bg-brand)!important;
        color: white;

        .count {
          background: white;
        }
      }

      &:hover{
        cursor:pointer;
        background: var(--color-bg-hover);
      }

      & :global(.item-inner p) {
        display: flex;
        width: 100%;

        .count {
          color:black;
          align-items: center;
          background: var(--color-bg-muted);
          border-radius: 100%;
          display: flex;
          font-size: var(--font-size-xs);
          height: 24px;
          justify-content: center;
          margin-left: auto;
          width: 24px;
        }
      }
    }
  }
</style>
