---
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import { popularArticles } from "@data/blog.json";
import { getEntry } from "astro:content";
import BentoBoxGrid from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGrid.astro";
import ArticleCardHorizontal from "../ArticleCardHorizontal.astro";

const popularPosts = popularArticles.map((x) =>
  x.replace("/src/content/insights/", "").replace(".mdx", "")
);
---

<div class="blog-card">
  <Heading
    class:list={["popular-articles-heading"]}
    text="Popular Articles"
    level="h3"
    size="sm"
    iconName="arrow-trending-up"
    iconPosition="before"
    alignX="start"
    style="margin:0"
  >
    Popular Articles
  </Heading>
  <BentoBoxGrid
    gap="sm"
  >
  {
    popularPosts.map(async (article) => {
      const post = await getEntry("blog", article);

      return (
        <ArticleCardHorizontal post={post} columnSpan={12} size="sm" />
      );
    })
  }
  </BentoBoxGrid>
</div>

<style is:global>
  .popular-articles-heading{
    & svg path{
      stroke: var(--color-brand);
    }
  }
</style>