---
import List from "@core-elements/list/List.astro";
import ListItem from "@core-elements/list/ListItem.astro";

const { headings } = Astro.props;
---

<div class="table-of-contents">
    <div class="list-item">In this article</div>
    <List alignX="start" direction="vertical">
    {
        headings.map(heading =>
            <ListItem class="list-item">{heading.text}</ListItem>
        )
    }
    </List>
</div>
<style is:global>
    .table-of-contents{
        background:var(--color-bg-muted);
        border:1px solid var(--color-border-subtle);
        border-radius: var(--radius-sm);

        .list{
            margin-top:0;

            & ul{ gap: 0; }
        }

        .list-item{
            padding:12px 16px;
        }
    }
</style>